*{
	margin:0;
	padding:0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100%;
  width:100%;
  overflow-y: auto;
  position: fixed;
}

@font-face {    
	font-family: 'Muli';    
	src: url('../font/Muli-Regular.ttf') format('truetype');    
	font-weight: normal;    
	font-style: normal;
}
@font-face {    
	font-family: 'Poppins';    
	src: url('../font/Poppins-Regular.ttf') format('truetype');    
	font-weight: normal;    
	font-style: normal;
}
@font-face {    
	font-family: 'Muli-Bold';    
	src: url('../font/Muli-Bold.ttf') format('truetype');    
	font-weight: normal;    
	font-style: normal;
}
@font-face {    
	font-family: 'Poppins-Bold';    
	src: url('../font/Poppins-Bold.ttf') format('truetype');    
	font-weight: normal;    
	font-style: normal;
}
a{
	text-decoration: none !important;
}
.header{
	width:100%;
	height: 15%;
	background-color: rgb(35,35,35);
}
.header h1{
	color:white;
	float:right;
	margin-top: 15px;
	margin-right: 20px;
	padding:10px;
	border: 5px solid rgb(0,156,255);
	position: relative;
}
.header .tooltip a{
	float:right;
	width:50px;
	height:50px;
	border: 3px solid black;
	border-radius: 50px;
	margin-top:20px;
	margin-right: 20px;
	text-align: center;
	color: rgb(0,190,255);
	padding: 4px;
}
.header .tooltip a:hover{
	color:white;
	border: 3px solid white;
}
.header i{
	font-size:30px;
}
.tooltip {
  position: relative;
  display: inline-block;
  float:right;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 110px;
  background-color: rgb(0,190,205);
  color: black;
  font-size: 18px;
  font-family: comic sans ms;
  font-weight: bold;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 120%;
  left: 35%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 1s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgb(0,190,205) transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.sidebar, .sidebar2{
	width:17%;
	height:85%;
	background-color: rgb(40,40,40);
	padding-top: 10px;
	overflow: auto;
	float:left;
	font-family: "Poppins", sans-serif;
}

#logo{
	height:100%;
	width:30%;
}

.sidebar a, .sidebar2 a{
	list-style-type: none;
	border-bottom: 1px dashed rgb(0,156,255);
}

.teksmenu{
	width:85%;
	float:left;
}
.icon{
	width:10%;
	float:right;
	margin-top: 15px;
	margin-left: 5px;
}
.sidebar a, .sidebar2 a, .dropbtn {
	padding:10px;
	text-decoration: none;
	color:white;
	font-size:16px;
	font-weight:bold;
	display:block; 
}

.sidebar a:hover, .sidebar2 a:hover{
	padding:10px;
	background-color: rgb(0,156,255);
	display:block; 
	color:black;
}

.sidebar li:hover, .sidebar2 li:hover{
	background-color: rgb(20,20,20);
}

.dropdown a{
	margin-left: 25px;
	font-size: 14px;
	margin-top: 0px;
}

.dropdown, .subdropdown{
	display: none;
	position: relative;
	z-index: 1;
}

.subdropdown{
	margin-left: 40px;
}

.show{
	display:block !important;
}

.opa{
	opacity: 10% !important;
}

.hide{
	display: none;
}

/*
.profildropdown {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-left: -100px;
  margin-top: 100px;
}

.profildropdown a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.profildropdown a:hover {background-color: #f1f1f1}

.profildrop:hover .profildropdown {
  display: block;
}

*/
.konten{
	width:83%;
	height:85%;
	background-color: rgb(204,235,255);
	float:left;
}

.materi{
	width:44%;
	height: 94%;
	background-color: white;
	margin-right: 10px;
	margin-left: 21px;
	float:left;
}

.materi h3{
	font-family: Poppins; 
	text-align: center; 
	border-bottom: 4px solid rgb(0,106,150);
	margin-top:15px;
	color:rgb(0,106,150);
}

.materi p, .materi ol, .conso p, .materi2 p, .conso ol, .soal p{
	font-size: 18px;
	font-family: Muli;
	text-align: justify;
	margin:20px;
}

.materi h2, .materi2 h2, .ujikompetensi h2, .hp h2{
	padding:5px;
	border-left:10px solid rgb(0,156,255);
	color:rgb(0,106,150);
	width:100%;
	font-family: Poppins;
	font-weight: bold !important;
}
.btn-group a {
	-moz-box-shadow:inset 1px 1px 0px -1px #97c4fe;
	-webkit-box-shadow:inset 1px 1px 0px -1px #97c4fe;
	box-shadow:inset 1px 1px 0px -1px #97c4fe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0) );
	background:-moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
	background-color:#3d94f6;
	-webkit-border-top-left-radius:5px;
	-moz-border-radius-topleft:5px;
	border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-radius-topright:5px;
	border-top-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-radius-bottomright:5px;
	border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-radius-bottomleft:5px;
	border-bottom-left-radius:5px;
	text-indent:0px;
	border:1px solid #337fed;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #1570cd;
	cursor: pointer;
	float: left;
	padding:10px;

}
.btn-group a:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6) );
	background:-moz-linear-gradient( center top, #1e62d0 5%, #3d94f6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
	background-color:#1e62d0;
}
.btn-group .active {
	position:relative;
	color: black !important;
	opacity:100%;
	pointer-events: none;
}
.btn-group a:not(:last-child) {
  border-right: none; /* Prevent double borders */
}
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}
.btn-group{
	padding: 10px;
	padding-left: 5px;
	margin-left: 30%;
	opacity: 100%;
}

.submateri{
	height:90%;
	overflow: auto;
}

.submateri h3, .penyelesaian{
	color:white;
	background-color: rgb(0,106,150);
	text-align: center;
	padding:5px;
	border:2px solid rgb(0,106,150);
	margin-top:30px;
	width:50%;
}

.isian li{
	margin-bottom: 20px;
}
.isian{
	margin: 20px;
}
.isian input{
	width:50px;
	padding:5px;
	margin-right: 5px;
	text-align: center;
}
.subisi td{
	font-size: 18px;
}
.conso{
	width:48%;
	height:86% !important;
	background-color: white;
	margin: 0px 10px 0px 0px;
	padding:20px;
	float:left;
	overflow-y: auto;
	overflow-x: hidden;
}
.subkonten{
	width:100%;
	height:90%;
}
.halaman, .halaman2, .halaman3{
	height:10%;
	width:100%;
}
.conso h3{
	padding:5px;
	color:black;
	font-family: 'Poppins', sans-serif;
	text-align: center;
}
.tabel table, .tabel th, .tabel td{
	border: 3px solid rgb(0,84,130);
  	border-collapse: collapse;
  	padding:4px;
  	text-align: center;
  	font-size: 14px;
}
.tabel table{
	width:300px;
}
.tabel th{
	background-color: rgb(0,84,130);
	color: white;
	font-weight: bold;
}
.tabel input{
	width:70px;
	padding:5px;
	text-align: center;
}
.cek{
	background-color: rgb(0,156,255);
	border:3px solid rgb(0,156,255);
	padding:10px;
	width:120px !important;
	-webkit-transition-duration: 0.4s;
  	transition-duration: 0.4s;
  	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  	font-weight: bold;
  	color: white;
  	cursor: pointer;
  	font-family: 'Muli', sans-serif;
  	font-size: 14px;
}
.cek:hover{
	border:3px solid rgb(0,156,255);
	background-color: white;
	color:black;
}
.cekdisabled{
	background-color: lightgrey;
	border:3px solid grey;
	padding:10px;
	width:120px !important;
	-webkit-transition-duration: 0.4s;
  	transition-duration: 0.4s;
  	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  	font-weight: bold;
  	color: grey;
  	cursor: not-allowed;
  	font-family: 'Muli', sans-serif;
  	font-size: 14px;
}
.hsl{
	margin-bottom:-20px;
	margin-right: -30px;
	margin-left: 5px;  
	margin-top:10px;  
	font-size:22px; 
	text-align: center; 
	font-weight: bold;
	opacity:0;
}
.hsl1{
	font-size:22px; 
	text-align: center; 
	font-weight: bold;
}
.conso h5{
	color: rgb(0,84,130);
	font-family: 'Poppins', sans-serif;
	text-align: center;
}

#piechart{
	margin-top: -20;
}

.tujuan{
	cursor: pointer;
}
#judulT{
	margin:10px 0px 0px 35px;
	font-weight: bold;
	text-decoration: underline;
	font-size: 20px;
	font-family: Muli;
	color: rgb(0,84,130);
}
#isiT{
	margin:0px 35px 0px 35px;
	padding: 10px;
	padding-left: 30px;
	font-family: Muli;
	text-align: justify;
	border:3px solid rgb(0,84,130);
	display: none;
}

.dropdown .active{
	border-bottom:3px solid rgb(0,156,255);
}

.sidebar .active, .sidebar2 .active{
	background-color: rgb(20,20,20);
}
.activelat{
	background-color: rgb(20,20,20);
	border-bottom:3px solid rgb(0,156,255) !important;
	pointer-events: none;
}
.linkdisable{
	cursor:not-allowed;
}

.disabled, .disabled a, .disabled i{
	pointer-events: none;
	color:grey !important;
}
.disabledlat{
	pointer-events: none;
	color:white !important;
}

.kemajuan{
	width:85%;
	background-color: lightgrey;
	height:20px;
	border-radius: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
	float: left;
}

#kemajuan-bar{
	background-color: rgb(0,84,130);
	float: left;
	border-radius: 5px;
	height: 20px;
	color: white;
	font-family: Muli;
	font-weight: bold;
	text-align: center;
	transition-property: width;
 	transition-duration: 1s;
	transition-timing-function: ease-in;
}

.progteks{
	float: left;
	font-family: Poppins;
	font-weight: bold;
	margin:2px 10px 0px 40px;
}
.btn-group .disabledhal{
	opacity: 70% !important;
	cursor:not-allowed !important;
	color:white !important;
	pointer-events: none !important;
}

.caption{
	font-family: Poppins;
	font-size: 12px !important;
	text-align: center !important;
	font-style: italic;
}

.iconmenu{
	color: rgb(0,156,255);
	float: right;
	margin-right: 10%;
	margin-top: 5px;
	display: none;
}
.btn-group3{
	display: none;
}
.laptop{
	display: inline-block;
}
.hp{
	display: none;
}
#hasilddbenar{
	font-size: 18px;
	color: green;
	font-weight: bold;
	display: none;
}
#hasilddsalah{
	font-size: 18px;
	color: red;
	font-weight: bold;
	display: none;
}
.identitas-kuis{
	font-family: Muli;
}
.tabel-hasil{
	width: 41% !important;
}
.tabelkuis td{
	font-weight: bold;
	font-family: Muli;
}
#hasilsalah{
	color: red; font-weight: bold;margin-top: -15px;
}
#isi{
	float: right; 
	font-size: 24px; 
	font-weight:bold; 
	font-family: Poppins;
	color:red;
}
.mb-10{
	margin-bottom: 10px;
}
#letak img{
	width:70%;
}
#hid_mdn2 img{
	width: 80%;
}
.w-50{
	width: 50%;
}
.w-60{
	width: 60%;
}
#gbrk2, #gbrk3, #gbrk4{
		width: 70%;
	}
.w-25{
	width:25%;
}
.m-min15{
	margin-right:-15px;
}
.pemb table, .pemb li{
	margin:0 20px;
}
.pemb{
	width: 95%;
	border:2px solid blue;
	margin-left: 2%;
}
.pemb img{
	width: 100%;
}
.lihat{
	margin-left: 20px;
	font-weight: bold;
	color: red;
}
.lihat span{
	cursor: pointer;
	text-decoration: underline;
	color: blue;
}
.analisisM{
	overflow-y: scroll;
	overflow-x: hidden;
}
.analisisC{
	height: 100% !important;
}
.analisisC h3{
	color: white;
}

@media only screen and (max-width: 1212px) and (min-width: 500px) {
	body{
		height: 100% !important;
		overflow-y: scroll !important;
	}
	.konten{
		width: 100% !important;
		height: auto !important;
		overflow-y: scroll !important;
	}
	.sidebar{
		position: absolute;
		width: 100%;
		height: auto !important;
		display: none;
		z-index: 99;
	}
	.iconmenu{
		display: block !important;
	}
	.subkonten{
		width: 100% !important;
		height: 80% !important;
		margin-bottom: 0 !important;
	}
	.materi{
		width:48% !important;
		margin-left: 0.5% !important;
		margin-right: 0 !important;
		height: 100% !important;
		padding-bottom: 10px;
	}
	.submateri{
		height: 92% !important;
	}
	.conso{
		width:48% !important;
		margin-left: 1% !important;
		padding: 0px 0px 10px 0px;
		height: 100% !important;
		margin-bottom: 5px !important;
		overflow-x: auto !important;
	}
	#logo{
		width: auto;
	}
	.header{
		height: 60px;
	}
	.btn-group{
		margin-top: 0 !important
	}
}
@media only screen and (max-width: 500px) {
	body{
		height: auto;
		width: 100% !important;
		overflow-y: scroll !important;
		overflow-x: hidden !important;
		position: relative;
		background-color: rgb(204,235,255);
	}
	.header{
		height: 40px;
		position: sticky;
	}
	.sidebar{
		position: absolute;
		width: 100%;
		height: auto !important;
		display: none;
		z-index: 99;
	}
	.konten{
		width: 100% !important;
		height: auto !important;
		background-color: rgb(255,255,255,0);
	}
	.materi2{
		margin-left:2% !important;
		height: auto !important;
	}
	.submateri2{
		height: auto !important;
	}
	.btn-group{
		margin-left: 7%;
		margin-top:10px !important;
	}
	.tabel{
		width: 100% !important;
	}
	.isian_median table{
		width: 100% !important;
	}
	.isian_median td,.isian_median tr{
		font-size: 14px !important;
		width: auto !important;
	}
	.btn-group a{
		font-size:10px;
	}
	.materi p, .materi ol, .conso p, .materi2 p, .conso ol, .soal p{
	font-size: 15px;
	margin:20px;
	}
	.progressbar{
		width: 100%;
	}
	.kemajuan{
		width:78%;
	}
	.progteks{
		font-size: 12px;
		margin:2px 10px 0px 3px;
	}
	#logo{
		width:auto;
	}
	#judulT, #isiT li{
		font-size: 15px !important;
	}
	.materi{
		width:97%;
		margin-left: 2%;
		height: auto !important;
		padding-bottom: 10px;
	}
	.iconmenu{
		display: block !important;
	}
	.conso{
		width:95% !important;
		margin-left: 2%;
		padding: 0px 0px 10px 0px;
		height: auto !important;
		margin-bottom: 5px !important;
		overflow-x: auto !important;
	}
	.petunjuk{
		margin:0 !important;
		padding: 2px;
	}
	.petunjuk a, .petunjuk li{
		font-size: 12px !important;
	}
	.btn-group3{
		display: block;
	}
	.subkonten{
		height: auto !important;
	}
	#petunjuka{
		font-size: 14px !important;
	}
	.isian{
		margin:5px;
	}
	.angka, .angka td{
		line-height: 15px !important;
	}
	.langkahmean2{
		font-size: 12px !important;
	}
	.tiga td, .tiga input{
	font-size: 12px !important;
	}
	.langkahmean3{
		width:60px !important;
	}
	#div1,#div2,#div3 {
  		width: 130px !important;
  		padding: 0px !important;
	}
	#drag1,#drag2,#drag3{
		font-size:13px !important;
		width:130px !important;
	}
	.cek{
		font-size: 12px;
	}
	.btn-group2 a{
		width:40% !important;
		font-size: 16px !important;
	}
	.materi{
		margin-bottom: 5px;
	}
	.laptop{
	display: none;
	}
	.hp{
		display: inline-block;
	}
	#rumusmean td, #rumusmean table{
	font-size:13px !important;
	}
	.rataratamean{
		width: auto !important;
	}
	#hasilddsalah, #hasilddbenar{
		font-size: 15px;
	}
	.nextSoal, .prevSoal, .cekdisabled{
		width:auto !important;
	}
	#rumus{
		height: auto !important;
	}
	.mean4 h3{
		width: 100%;
		text-align: center;
		padding: 0 !important;
	}
	.rumusmeanfrek{
		margin-left: 0 !important;
	}
	.rumusmeanfrek img{
		width:90% !important;
	}
	.frame{
		margin:5px !important;
		padding: 5px !important;
	}
	.consonav1{
		font-size: 14px !important;
	}
	.mean5{
		height: auto !important;
	}
	.fontt{
		font-size: 13px !important;
	}
	.boldd{
		font-weight: bold !important;
	}
	.submateri p{
		margin-bottom: 5px !important;
	}
	.median li{
		font-size: 15px !important;
	}
	.isian_median input{
		width:30px !important;
		padding: 1px !important;
		font-size:13px !important;
	}
	#tengah button, #tengah2 button, #tengah3 button{
		font-size:14px !important;
		padding:3px !important;
	}
	#ddrumusmean{
		height: auto !important;
	}
	.submateri{
		height: auto !important;
	}
	.ujikompetensi{
		margin: 0 !important;
		padding: 0 !important;
	}
	.nomor{
		width:100% !important;
		margin:0 2%;
	}
	.soal{
		width:100% !important;
		padding: 0 !important;
		margin:0 0 0 2% !important;

	}
	.quiz-container{
		height: 490px !important;

	}
	#quiz img{
		width: 100% !important;
	}
	#quiz, #quiz p, .answers{
		font-size: 16px !important;
		text-align: justify;
	}
	.nosoal{
		width: 18% !important;
		padding:2px !important;
	}
	.tabel-hasil{
	width: 30% !important;
	}

	/*HALAMAN KI KD INFO*/
	.kikdmenu{
		width:95% !important;
		height: auto !important;
	}
	.kikdmenu li{
		float:left !important;
		font-size: 15px !important;
		width: 30% !important;

	}
	.kikdmenu a{
		border-radius: 5px !important;
		font-size: 12px !important;
		height: 70px !important;
		text-align: center !important; 
	}
	.menuBeranda{
		margin: 0 !important;
		margin-top: 5px !important;
	}
	.kikdisi, .info{
		width: 95% !important;
		height:75% !important;
	}
	.kikdisi td{
		font-size: 15px !important;
		width: auto !important;
	}
	.kikdisi table, .info td{
		font-size: 15px !important;
		padding: 0 !important;
		margin: 0 !important;
	}
	.info td{
		border-bottom: 1px solid lightgrey;
	}
	.kikdisi h1, .info h1{
		font-size: 20px !important;
	}
	.info p{
		font-size: 15px !important;
		margin: 10px !important;
	}

	/*ANALISIS*/
	.subisi td{
		font-size: 15px !important;
	}
	#hasilsalah{
		margin-top:0 !important;
	}
	.tombolhp{
		width:auto !important;
	}
	#isi{
		font-size: 18px;
	}
	.m-min15{
		margin-right:0px !important;
	}

	/*MEAN*/
	.isian input{
		width:40px;
	}
	#petunjuka2{
		font-size: 15px !important;
	}
	.tabcontent #soal, .tabcontent p{
		font-size: 15px !important;
		font-family: Muli !important;
	}
	 .tabcontent td, .tabcontent th{
	 	font-size: 12px !important;
		font-family: Muli !important;
	 }
	#petunjuk2, #petunjuk{
		padding-left: 25px !important;
	}
	#consomodus p{
		font-size: 15px !important;
	}
	.mean4, .submateri5{
		height: auto !important;
	}
	#letak img{
	width:90% !important;
	}
	#satu, #dua, #tiga{
		margin-left:20px !important;
	}

	/*MEDIAN*/
	.font2 table tr td, .font2 th{
		padding:5px !important;
		font-size:12px !important;
	}
	.isian_median td{
		padding:5px !important;
	}
	.isian_median input{
		width:20px !important;
	}
	.isian_median .rumuskiri{
		width: 70px !important;
	}
	.isian_median{
		margin-left:-5% !important;
	}
	.tabelkecil table{
		margin: 5px !important;
	}
	#hid_mdn2 img{
	width: 100%;
	}
	#pembahasanmean img, #datamodus img{
		width:70% !important;
	}
	.w-50{
		width: 80%;
	}
	.w-25{
		width:100px !important;
	}
	.rumusmodus{
		background-color: lightblue !important;
		padding: 5px !important;
		line-height: 25px !important;
		font-size: 14px !important;
	}
	.consomodus2 input, .tabelinput input{
		width:50px !important;
	}

	/*JANGKAUAN*/
	.jangtab{
		width:150px !important;
		font-size: 15px !important;
	}
	.inpjangkauan td{
		font-size: 15px !important;
	}
	.w-60{
		width: 80% !important;
	}

	/*KUARTIL*/
	#gbrk2, #gbrk3, #gbrk4{
		width: 90% !important;
	}
	.kuartil2 input{
		padding: 5px !important;
		width: 30px !important;
	}
	.kuartil2{
		margin-left:10px !important;
	}
	.bigtabel td, .bigtabel th{
		font-size:14px !important;
	}
	.bigpad td{
		padding:0px 5px !important;
	}
	.angka td{
		font-size: 13px !important;
	}
	#input_kuartil1{
		margin-left: 10px;
	}
}

@media only screen and (max-width: 372px) {
	.btn-group3 a{
		width: 38% !important;
	}
	.btn-group2{
		width: 103% !important;
	}
	.btn-group{
		margin-left: 1%;
	}

}

@media only screen and (max-width: 340px) {

	/*MEAN*/
	.btn-group3 a{
		width: 38% !important;
	}
	.btn-group2{
		width: 115% !important;
	}
	.btn-group{
		margin-left: 1%;
	}
	#div1,#div2,#div3 {
  		width: 115px !important;
  		padding: 0px !important;
	}
	#drag1,#drag2,#drag3{
		font-size:12px !important;
		width:115px !important;
	}

}
/*::-webkit-scrollbar{
	width:11px;
	background: #ffffff;
}

::-webkit-scrollbar-thumb{
	background: rgb(0,156,255);
	border-radius: 3px;
	border: 2px solid rgb(0,156,255);
}

::-webkit-scrollbar-track {      
    background: lightgrey;    
}*/



