.slide{
	position: absolute;
	left:0px;
	top:0px;
	width:100%;
	z-index:1;
	display: none;
	transition: opacity 0.5s;
}
#ket{
	font-family: Muli;
	font-size: 20px;
	font-weight: bold;
}
#new-score, #wrong-correct{
	font-family: Muli;
}
.active-slide{
	display:block;
	z-index:2;
}

.tombol .btn{
	font-family: Muli;
}
.nomor{
	width:19%;
	margin:0 2%;
}

.soal{
	width:75%;
}

.mrmin{
	margin-right: -10px;
}
.card{
	position: relative;
}

.quiz-container{
	position:relative;
	height:360px;
	margin-top: 10px;
	font-family: Muli;
	overflow-y: auto;
}

#quiz, #quiz p{
	font-size: 19px;
	margin-bottom: 10px;
}

.answers{
	margin-bottom: 20px;
	text-align:left;
	display:inline-block;
}
.answers label{
	display:block;
	margin-bottom: 10px;
	font-family: Muli;
	font-size:18px;
}

.nosoal2{
  	color: white !important;
  	cursor: pointer;
  	font-family: 'Muli', sans-serif !important;
  	font-size: 14px;
}

.nosoal{
	font-family: Muli !important;
}

@media only screen and(max-width:500px){
	.quiz-container{
		height:500px;
	}
}

@media only screen and(max-width:300px){
	.quiz-container{
		height:700px;
	}
}